.general-container {
    display: flex;
    width: 600px;
    padding: 25px 0;
    row-gap: 30px;
    border-radius: 8px;
    background: #ededed;
    flex-direction: column;
    align-items: center;

}
.main-contain{
    display: flex;
    width: 75%;
    flex-wrap: wrap;
}
.circular-progress {
    position: relative;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background: conic-gradient(#7d2ae8 3.6deg, #ededed 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.circular-progress::before {
    content: "";
    position: absolute;
    height: 260px;
    width: 260px;
    background: #fff;
    border-radius: 50%;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
        -0.5px -0.5px 0px -1px rgba(255, 255, 255, 1), 0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

.progress-value {
    position: relative;
    font-size: 40px;
    font-weight: 600;
    color: #7d2ae8;
}

.text {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 500;
    color: #606060;
}